:root {
  --bs-body-bg: #131314 !important;
  --bs-font-sans-serif: bc-novatica-cyr, sans-serif !important;
  --bs-body-color: #fff !important;
  --bs-link-color-rgb: 255, 255, 255 !important;
  --bs-link-hover-color-rgb: 196, 61, 137 !important;
  --bs-gutter-x: 1rem !important;
  font-size: 12px;
}

.pink-color {
  color: #c44188;
}

p {
  font-size: 2rem;
  font-family: bc-novatica-cyr, sans-serif;
  margin-bottom: 0 !important;
  line-height: 2.4rem;
}

h1 {
  font-size: 3rem !important;
  line-height: 3.6rem;
  font-family: bc-novatica-cyr, sans-serif;
  margin-bottom: 0 !important;
}

h2 {
  font-size: 5rem !important;
  font-weight: 400 !important;
  line-height: 6rem;
  font-family: bc-novatica-cyr, sans-serif;
  margin-bottom: 0 !important;
}

a {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: bc-novatica-cyr, sans-serif;
  color: #000;
}

.small-text {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

button {
  background-color: #131314;
  font-size: 2rem !important;
  color: #fff;
  text-transform: uppercase !important;
  border: none;
  padding: 0.5rem 1rem;
  line-height: 2.4rem !important;
}

.header-text {
  font-size: 3rem;
  font-weight: bold;
}

.hero-section {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav .nav-text {
  color: #c44188;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 4.8rem;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

@media (min-width: 1680px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1650px !important;
  }
}
@media (max-width: 1399px) {
  .hero-left-col {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
@media (max-width: 1199px) {
  .about-me > .row {
    gap: 1rem;
  }
  .gallery-preview {
    width: 60% !important;
  }
}
@media (max-width: 991px) {
  .hero.container {
    max-height: calc(100% - 4rem - 2rem);
  }
  .hero.container > .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .hero.container .hero-left-col {
    align-self: center;
    width: fit-content;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .hero-center-col {
    flex: 1;
  }
  .hero-left-col {
    min-height: 10px;
    flex: 1;
  }
  .about-me > .row {
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  .gallery-preview {
    width: unset !important;
  }
}
.hero {
  height: calc(100% - 4rem - 2rem);
  position: relative;
  display: flex;
  align-items: center;
}
.hero > div {
  height: 100%;
  flex: 1;
}
.hero .hero-left-col {
  height: 100%;
}
.hero .hero-left-col .hero-top-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero .hero-right-col {
  display: flex;
  align-items: center;
}
.hero .hero-right-col .hero-card {
  padding: 2rem 3rem;
  height: fit-content;
  flex: 1;
  background-color: var(--bs-body-bg);
  gap: 1rem;
}
.hero .hero-right-col .hero-card h2 {
  text-transform: uppercase;
}

.hero-bg {
  width: 100%;
  height: calc(100% - 4rem - 2rem);
  object-fit: cover;
  filter: blur(1.25px);
  opacity: 80%;
  position: absolute;
}

.about-me h1 {
  text-align: center;
}
.about-me .about-me-left > div {
  gap: 2rem;
}
.about-me .about-me-left > div > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-me .about-me-left > div > div a {
  margin-right: 1rem;
}
.about-me .gallery-preview {
  aspect-ratio: 1/1;
  position: relative;
  height: fit-content;
}
.about-me .gallery-preview .gallery-preview-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bs-body-bg);
  opacity: 20%;
}
.about-me .gallery-preview .gallery-button-container {
  backdrop-filter: blur(1.25px);
  position: absolute;
  width: 100%;
  height: 100%;
}
.about-me .gallery-preview .gallery-button-container button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.about-me .gallery-preview .hstack {
  width: calc(100% - 2rem);
}
@supports (-moz-appearance: none) {
  .about-me .gallery-preview .hstack {
    width: 100%;
  }
}
.about-me .gallery-preview img {
  width: 33.3333333333%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
